* {
  margin: 0;
  padding: 0;
}

.progress {
  margin-bottom: 5rem;
  padding: 3rem;
  display: flex;
  text-align: center;
  background-color: #dfdfde;
}
.progress > li {
  list-style: none;
  font-size: 1.2rem;
  position: relative;
  font-weight: 700;
}

.progress li::before {
  background-color: #e7b05f;
  border: 0.2rem solid rgb(248, 246, 246);
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  margin: 0 auto 32px auto;
  position: relative;
  text-align: center;
  width: 20px;
  z-index: 1;
}

/* //connector */
.progress li::after {
  content: "";
  height: 5px;
  background-color: #e7b05f;
  position: absolute;
  top: 10px;
  left: -50%;
  width: 100%;
  z-index: 0;
}
.progress li:first-child::after {
  content: none;
}

/* select all but the first four */
.progress li:nth-child(n)::after,
.progress li:nth-child(n)::before {
  background-color: #252d7e;
  color: #252d7e;
}
.progress li.done:nth-child(n)::after,
.progress li.done:nth-child(n)::before {
  background-color: #e7b05f;
  color: #fff;
}

.progress li:last-child::before {
  background-color: #fff;
  border: 0.2rem solid #252d7e;
  box-shadow: 0 0 0 10px hsl(36, 74%, 64%, 1), 0 0 0 15px hsl(36, 74%, 84%, 1);
}

.progress > li:last-child::after {
  /* background-color: #fff;
  border: 0.2rem solid #252d7e;
  box-shadow: 0 0 0 10px hsl(36, 74%, 64%, 1), 0 0 0 15px hsl(36, 74%, 84%, 1); */
}

.date-details {
  font-size: 1.2rem;
  font-weight: 100;
}
